.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #0A775F;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
  }
  .btn:hover {
    background-color: #00251e;
  }
